@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pixel-size: 8px;
  --primary-background: #FAF8EF;
  --primary-text-color: #776E65;
}

body {
  margin: 0;
  background: var(--primary-background);
  color: var(--primary-text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
